{% extends 'base.html' %}
{% block content %}
    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="single-sidebar">
                        <h2 class="sidebar-title">Search Products</h2>
                        <form action="#">
                            <input type="text" placeholder="Search products...">
                            <input type="submit" value="Search">
                        </form>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="product-content-right">
                        <div class="woocommerce">
                            <form method="post" action="#">
                                <table cellspacing="0" class="shop_table cart">
                                    <thead>
                                    <tr>
                                        <th class="product-remove">&nbsp;</th>
                                        <th class="product-thumbnail">&nbsp;</th>
                                        <th class="product-name">Product</th>
                                        <th class="product-price">Price</th>
                                        <th class="product-quantity">Quantity</th>
                                        <th class="product-subtotal">Total</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for item in cart %}
                                        {% with product=item.product %}
                                            <tr class="cart_item">

                                                <td class="product-remove">
                                                    <a title="Remove this item" class="remove" href="{% url 'cart_remove' product.id %}">×</a>
                                                </td>

                                                <td class="product-thumbnail">
                                                    <a href="{{ product.get_url }}"><img width="145" height="145"
                                                                                       alt="poster_1_up"
                                                                                       class="shop_thumbnail"
                                                                                       src="{{ product.image.url }}"></a>
                                                </td>

                                                <td class="product-name">
                                                    <a href="{{ product.get_url }}">{{ product.name }}</a>
                                                </td>

                                                <td class="product-price">
                                                    <span class="amount">{{ product.price }}</span>
                                                </td>

                                                <td class="product-quantity">
                                                    <div class="quantity">
                                                        {{ item.quantity }}
                                                    </div>
                                                </td>

                                                <td class="product-subtotal">
                                                    <span class="amount">{{ item.total_price }}</span>
                                                </td>
                                            </tr>
                                        {% endwith %}
                                    {% endfor %}
                                    <tr>
                                        <td class="actions" colspan="12">
                                            <input type="submit" value="купить" name="update_cart" class="button">
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </form>

                            <div class="cart-collaterals">
                                <div class="cart_totals ">
                                    <h2>Cart Totals</h2>
                                    <table cellspacing="0">
                                        <tr class="order-total">
                                            <th>Order Total</th>
                                            <td><strong><span class="amount">{{ cart.total_price }}</span></strong></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}