{% extends 'base.html' %}
{% block content %}


    <div class="product-big-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-bit-title text-center">
                        <h2>{% if category %} {{ category.name }} {% else %} Каталог {% endif %}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container d-flex align-items-center">
            <div class="row">
                {% for product in products %}
                    <div class="col-md-4 col-sm-6">
                        <div class="single-shop-product">
                            <div class="product-upper">
                                <img src="{{ product.image.url }}" alt="">
                            </div>
                            <h2><a href="{{ product.get_url }}">{{ product.name }}</a></h2>
                            <div class="product-carousel-price">
                                <ins>{{ product.price }}</ins>
                            </div>

                            <div class="product-option-shop">
                                <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70"
                                   rel="nofollow" href="/canvas/shop/?add-to-cart=70">Add to cart</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% include 'blocks/pagination.html' %}
        </div>
    </div>
{% endblock %}
